---
import BrandText from './BrandText.astro'

const Variants = {
  yellow: 'px-10 text-black bg-cebra-accent-1 hover:bg-black hover:text-white',
  black: 'px-14 text-white bg-black hover:bg-white hover:text-black',
  white: 'px-14 text-black bg-white hover:bg-black hover:text-white',
}

type Variant = keyof typeof Variants

interface Props {
  variant: Variant
  class?: string
}

const { variant = 'yellow', class: className } = Astro.props
const classes = [className, Variants[variant]]
---

<a
  class:list={classes}
  href='#'
  class='inline-block py-4 duration-300 rounded-full shadow-sm shadow-black/20 w-fit'
  ><BrandText
    variant={'cta'}
    color={'none'}
    ><slot /></BrandText
  >
</a>
