---
import { BrandText, LinkButton, Accent } from '../components'
---

<section class='py-20 bg-cebra-accent-1'>
  <div class='max-w-screen-xl px-10 mx-auto'>
    <div class='grid grid-cols-5 place-items-center'>
      <div class='col-span-3'>
        <BrandText
          variant={'title'}
          color={'black'}
          >NOS ESFORZAMOS EN DARLE UN <Accent
            variant={'underline'}
            color={'sky'}
            >TOQUE ÚNICO</Accent
          > A CADA UNO DE NUESTROS SOCIOS</BrandText
        >
      </div>
      <div class='col-span-2'>
        <LinkButton variant={'black'}>contáctanos</LinkButton>
      </div>
    </div>
  </div>
</section>
