---
import { BrandText, Accent } from '../components'

const src = '/assets/cebra/Home_01.png'
---

<section
  class='py-20 bg-black bg-center bg-no-repeat bg-cover'
  style={`background-image: url(${src});`}>
  <div class='max-w-screen-xl px-10 mx-auto'>
    <div class='grid grid-cols-5 place-items-center'>
      <BrandText
        variant={'title'}
        color={'white'}
        class='col-span-3'
        ><slot name='header' />
      </BrandText>

      <div class='col-span-2'>
        <BrandText
          variant={'body'}
          color={'white'}
          ><slot name='body-1' />
        </BrandText>

        <BrandText
          variant={'body'}
          color={'white'}
          class='mt-8'
          ><slot name='body-2' />
        </BrandText>
      </div>
    </div>
  </div>
</section>
