---
import { BrandText, LinkButton, Accent } from '../components'
---

<section class='py-20 bg-cebra-accent-1'>
  <div class='max-w-screen-xl px-10 mx-auto'>
    <div class='grid grid-cols-5 place-items-center'>
      <div class='col-span-3'>
        <BrandText
          variant={'title'}
          color={'black'}
          ><slot name='header' />
        </BrandText>
      </div>
      
      <div class='col-span-2'>
        <LinkButton variant={'black'}><slot name='cta' /></LinkButton>
      </div>
    </div>
  </div>
</section>
