---
import { BrandText, Accent, LinkButton } from '../components'
import { Header } from '@/cebra/components'
---

<section class='relative w-full bg-center bg-no-repeat bg-cover'>
  <Header />
  
  <div
    class='grid max-w-screen-xl grid-cols-1 gap-4 px-10 mx-auto md:grid-cols-3 py-60'>
    <div class='md:col-span-2'>
      <BrandText
        variant={'spaced'}
        color={'white'}
        ><slot name="before-header" />
      </BrandText>

      <BrandText
        variant={'banner'}
        color={'white'}><slot name="header" />
      </BrandText>

      <LinkButton
        variant={'yellow'}
        class='mt-10'
        ><slot name="cta" />
      </LinkButton>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url('/assets/cebra/Home_Hero.png');
  }
</style>
