---
import { BrandText, LinkButton, Container, MethodCard } from '../components'
---

<Container class='pb-8 pt-14'>
  <div class='grid grid-cols-4 gap-x-20'>
    <slot name='cards' />
  </div>
  <div class='flex justify-center mt-10'>
    <LinkButton variant={'black'}><slot name='cta' /></LinkButton>
  </div>
</Container>
