---
import { LinkCard, BrandText, Accent } from '../components'
---

<section class='max-w-screen-xl px-10 mx-auto'>
  <div class='text-center py-14'>
    <BrandText
      variant={'spaced'}
      color={'sky'}
      >TE AYUDAMOS A CRECER</BrandText
    >

    <BrandText
      variant={'title'}
      color={'black'}
      >¿QUÉ <Accent
        variant={'underline'}
        color={'yellow'}
        >SOLUCIONES</Accent
      >OFRECEMOS?</BrandText
    >

    <div class='mt-8'>
      <BrandText
        variant={'body-accent'}
        color={'black'}
        >¡Somos los mejores y queremos que tú también lo seas!</BrandText
      >
      <BrandText
        variant={'body'}
        color={'black'}
        >La manada Cebra se enfoca en entregar soluciones personalizadas y
        resultados de calidad.</BrandText
      >
    </div>
  </div>

  <div class='grid grid-cols-1 pt-10 pb-32 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16'>
    <slot name="cards" />
  </div>
</section>
