---
import { LinkCard, BrandText, Accent } from '../components'
---

<section class='max-w-screen-xl px-10 mx-auto'>
  <div class='text-center py-14'>
    <BrandText
      variant={'spaced'}
      color={'sky'}
      >TE AYUDAMOS A CRECER</BrandText
    >

    <BrandText
      variant={'title'}
      color={'black'}
      >¿QUÉ <Accent
        variant={'underline'}
        color={'yellow'}
        >SOLUCIONES</Accent
      >OFRECEMOS?</BrandText
    >

    <div class='mt-8'>
      <BrandText
        variant={'body-accent'}
        color={'black'}
        >¡Somos los mejores y queremos que tú también lo seas!</BrandText
      >
      <BrandText
        variant={'body'}
        color={'black'}
        >La manada Cebra se enfoca en entregar soluciones personalizadas y
        resultados de calidad.</BrandText
      >
    </div>
  </div>

  <div class='grid grid-cols-3 pt-10 pb-32 gap-x-8 gap-y-16'>
    <LinkCard src={'/assets/cebra/Home_Social_Media.png'}>
      <Fragment slot={'header'}>Social<br />Media</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el <br /> marketing de <br /> tus redes <br /> sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Posicionamiento_SEO.png'}>
      <Fragment slot={'header'}
        >Posicionamineto<br />orgánico <br />seo</Fragment
      >
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Paid_Media_02.png'}>
      <Fragment slot={'header'}>Paid<br />Media</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Marketing_de_Contenidos.png'}>
      <Fragment slot={'header'}>marketing<br />de contenidos</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_HubSpot.png'}>
      <Fragment slot={'header'}>implementación<br />hubspot</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Desarrollo_Web.png'}>
      <Fragment slot={'header'}>Desarrollo<br />Web</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>
  </div>
</section>
