<section class='max-w-screen-xl px-10 mx-auto'>
  <div class='text-center py-14'>
    <p
      class='text-xs font-normal tracking-[0.17rem] leading-loose text-sky-500 uppercase'>
      TE AYUDAMOS A CRECER
    </p>

    <h2 class='mt-6 text-5xl font-bold text-black uppercase'>
      ¿QUÉ
      <span class='relative mb-1'>
        <span class='relative z-10'>SOLUCIONES</span>
        <div class='absolute left-0 w-full h-3 bg-yellow-400 bottom-1'></div>
      </span>
      OFRECEMOS?
    </h2>

    <div class='mt-8'>
      <p class='text-lg font-semibold'>
        ¡Somos los mejores y queremos que tú también lo seas!
      </p>
      <p class='text-lg'>
        La manada Cebra se enfoca en entregar soluciones personalizadas y
        resultados de calidad.
      </p>
    </div>
  </div>

  <div class='grid grid-cols-3 pt-10 pb-32 gap-y-8 gap-x-16'>
    <a href='#'>
      <div
        class='w-full h-[520px] bg-black relative group overflow-hidden flex flex-col justify-end p-10'>
        <picture>
          <img
            src='/assets/cebra/Home_Social_Media.png'
            alt='home social media image'
            class='absolute top-0 left-0 object-cover object-center duration-1000 size-full opacity-70 group-hover:scale-125 group-hover:opacity-0'
          />
        </picture>
        <h3 class='relative text-3xl font-extrabold text-white'>
          Social<br />Media
        </h3>

        <p class='relative invisible mt-2 text-lg font-semibold text-white duration-100 group-hover:visible group-hover:duration-500'>
          ¡Impulsa el marketing de tus redes sociales!
        </p>
      </div>
    </a>

    <div class='w-full h-[520px] bg-black'></div>
    <div class='w-full h-[520px] bg-black'></div>
    <div class='w-full h-[520px] bg-black'></div>
    <div class='w-full h-[520px] bg-black'></div>
    <div class='w-full h-[520px] bg-black'></div>
  </div>
</section>
