---
import { LinkCard } from '@cebra/components'
---

<section class='max-w-screen-xl px-10 mx-auto'>
  <div class='text-center py-14'>
    <p
      class='text-xs font-normal tracking-[0.17rem] leading-loose text-sky-500 uppercase'>
      TE AYUDAMOS A CRECER
    </p>

    <h2 class='mt-6 text-5xl font-bold text-black uppercase'>
      ¿QUÉ
      <span class='relative mb-1'>
        <span class='relative z-10'>SOLUCIONES</span>
        <div class='absolute left-0 w-full h-3 bg-yellow-400 bottom-1'></div>
      </span>
      OFRECEMOS?
    </h2>

    <div class='mt-8'>
      <p class='text-lg font-semibold'>
        ¡Somos los mejores y queremos que tú también lo seas!
      </p>
      <p class='text-lg'>
        La manada Cebra se enfoca en entregar soluciones personalizadas y
        resultados de calidad.
      </p>
    </div>
  </div>

  <div class='grid grid-cols-3 pt-10 pb-32 gap-y-8 gap-x-12'>
    <LinkCard src={'/assets/cebra/Home_Social_Media.png'}>
      <Fragment slot={'header'}>Social<br />Media</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el <br> marketing de <br> tus redes <br> sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Posicionamiento_SEO.png'}>
      <Fragment slot={'header'}>Posicionamineto<br />orgánico <br>seo</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Paid_Media_02.png'}>
      <Fragment slot={'header'}>Paid<br />Media</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Marketing_de_Contenidos.png'}>
      <Fragment slot={'header'}>marketing<br />de contenidos</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_HubSpot.png'}>
      <Fragment slot={'header'}>implementación<br />hubspot</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>

    <LinkCard src={'/assets/cebra/Home_Desarrollo_Web.png'}>
      <Fragment slot={'header'}>Desarrollo<br />Web</Fragment>
      <Fragment slot={'body'}
        >¡Impulsa el marketing de tus redes sociales!</Fragment
      >
    </LinkCard>
  </div>
</section>
